body
{
    margin: 0;
    background-color: #000000;
}

.navbar {
    display: flex;
    background-color: #141414;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #444444;
}

@media screen and (max-aspect-ratio: 1) {
    .navbar {
        flex-direction: column;
    }
}